<body>
  <h2> Entrez un mot à rechercher </h2>
  <form (ngSubmit)="onSubmit(formText)" #formText="ngForm">
    <div>
      <input type="text" class="form-control" placeholder="type a word" id="sentence-input" name="text" ngModel required>
      <button type="submit" mat-raised-button color="primary" [disabled]="formText.invalid"> submit </button>
      <br>
      <span *ngIf="result.length !== 0"> Résultat de la recherche </span>
      <carousel [cellsToScroll]="4" [loop]="true" [arrowsOutside]="true" *ngIf="result.length !== 0" arrowsTheme="dark">
        <div class="carousel-cell" *ngFor="let image of result">
          <img src="{{image}}" width="100%" height="100%" alt="image">
        </div>
      </carousel>
    </div>
  </form>
</body>
